$standardSpacing: 10px;

#calculator-section {

  h2 {
    padding-left: $standardSpacing;
  }

  #container-number-buttons,
  #container-control-buttons,
  #container-display {
    
      padding: $standardSpacing;    
      
      // margin: 0px;
    
  }

  #container-display {
    border: 0px solid red;
    text-align: left;
    .col {
    
    }
  }

  .btn-container {
    padding: 1px;
    // margin: 0;
  }
}