#calculator-section {

  #container-number-buttons,
  #container-control-buttons,
  #container-display {
    
      padding: 10px;    
      
      margin: 0px;
    
  }

  #container-display {
    border: 0px solid red;
    .col {
    text-align: left;
    }
  }

  .btn-container {
    padding: 1px;
    margin: 0;
  }
}