// import bootstrap
// @import "~bootstrap/scss/bootstrap";

$primary: black;
$standardSpacing: 10px;

.btn {
  background-color: black;
  border: none;
  outline: none;
}

.btn:focus,
.btn:active {
  background-color: black;
  border: none;
  outline: none;

}

// for development
.col,
.row,
.container {
  border: 0px solid red;
  // padding: 0px 0px;
}

body {
  background-color: rgba(50,50,50,1);
  // padding: 5%;
  
}

.App {
  font-family: sans-serif;
  text-align: center;
 
  
  color: white; 

  
  section {
    border: 1px solid gray;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 3px; 
  }
   
 
    // only update if valid expression is not required or if a valid expression is provided when required

}

.display-none {
  display: none;
}




    // only update if valid expression is not required or if a valid expression is provided when required
